.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 15vh;
    padding: 0.5rem;
    background-color: white;
    border-radius: 10px;
}
h4{
    display: flex;
    align-items: center;
}